.page-header {
  background-color: $additional-color;
  color: $main-color;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__description {
  font-size: 1.5em;
  color: white;
}
